.main-flex{
    align-content: center;
    justify-content: center;
}

/*  The infobox on the Apply page is a bit different from the other pages.
    Since we don't really want it to take up the whole page, I've reset the general styles
    and made flex-grow 0.35 so it's not too imposing. Form goes inside of this article. */
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8E1D5;
    border: 4px solid #A08A68;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    flex-grow: 0.35;
}

/* Container for the entire form */
form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border: 4px solid #A08A68;

    padding: 20px;       /* Increased padding for a more comfortable layout */
    border-radius: 10px; /* Rounded corners in accordance with style guidelines - 10px. */
}

/* Styling for the text form fields */
form input[type="text"],
form input[type="tel"],
form input[type="email"] {
    padding: 10px; 
    border: 2px solid #A08A68; 
    border-radius: 5px; 
    width: 76%; 
    margin-bottom: 20px; /* Space between input fields */
}

/* Submit button */
form input[type="submit"] {
    padding: 10px 20px; /* Padding for button */
    margin-top: 20px; 

    cursor: pointer;

    border-radius: 10px;

    font-size: 16px; /* Larger font size for better readability */
    font-weight: bold; /* Bold text for emphasis */

    background-color: #E5BE7B;  /* Light background colour */
    color: #000000;             
}

/* Hover effect for the submit button */
form input[type="submit"]:hover {
    background-color: #FFD800; /* Change to accent colour */
}

/* Style for the conditional field (hidden by default) */
#annat-land {
    display: none;      /* Initially hidden, shown by apply.js if "Medborgarskap: Annat" is selected */
    margin-top: 15px;   /* Space above the conditional field */
}

/* Media queries for desktop, apply page. */
@media (min-width: 768px) {
    form {
        width: 50%;
    }
}

/* Media queries for mobile, apply page. */
@media (max-width: 768px) {
    form {
        width: 80%; /* mobile has a lot less space to work with, so occupy more of the screen */
    }
}
