/* This page is kind of messy, so let's start with a clean slate. Make sure the header style goes AFTER this. */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container styles */
.main-flex-container {
    display: block;
    text-align: center;
    margin-top: 1%;
}

section{
    display: block;
    width: 97%;
    justify-content: space-between;
}

/* Section header styles */
.section-header {
    background-color: #E8E1D5;
    padding: 10px;
    border: 2px solid #A08A68;
    margin-bottom: 10px;
    width:100%;
    border-radius: 10px;
    text-align: left;
}
.section-header:hover{
    cursor: pointer;

}

.section-header h1 {
    font-size: 24px;
}

.section-header h3 {
    font-size: 16px;
}

/* Article styles */
article {
    border: 2px solid #A08A68;
    background-color: #E8E1D5;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 10px;
}

article h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

article p {
    margin-bottom: 10px;
}

article ul {
    margin-bottom: 10px;
}

article ul li {
    list-style-type: disc;
    margin-left: 20px;
}

/* Hide collapsible sections by default */
.section-collapsible {
    display: none;
}

/* Styling for the toggle button */
.toggle-button {
    cursor: pointer;
    font-size: 16px;
    background-color: #E5BE7B;
    color: #000000;
    padding: 5px 10px;
    border: 2px solid #A08A68;
    margin-bottom: 10px;
}

/* Style for the expanded state */
.collapsible-expanded {
    display: block;
}
