*{
    box-sizing: border-box;
}

/* Main container styles */
.main-flex {
    margin-top: 1%;
    justify-content: center;
}

/* Sections are collapsible on this page. */
section{
    display: block;
    width: 97%;
    justify-content: space-between;
}

/* Section header is clicked to reveal/hide sections. */
.section-header {
    width:100%;

    padding: 10px;
    margin-bottom: 10px;

    border: 4px solid #A08A68;
    border-radius: 10px;
    
    text-align: left;
    background-color: #E8E1D5;
}
.section-header:hover{
    cursor: pointer; /* Change cursor to pointer on hover so they know it's clickable */
}

/* Header text sizes */
.section-header h1 {
    font-size: 24px;
}
.section-header h3 {
    font-size: 16px;
}

/* Hide collapsible sections by default */
.section-collapsible {
    display: none;
}

/* Styling for the toggle button */
.toggle-button {
    cursor: pointer;
    font-size: 16px;
    background-color: #E5BE7B;
    color: #000000;
    padding: 5px 10px;
    border: 2px solid #A08A68;
    margin-bottom: 10px;
}

/* Style for the expanded state, this is applied to sections when their headers are clicked */
.collapsible-expanded {
    display: block;
}

/* Articles are children of sections, they contain the actual data */
article {
    padding: 10px;
    margin-bottom: 10px;

    border: 2px solid #A08A68;
    border-radius: 10px; /* style guidelines */

    text-align: left;
    background-color: #E8E1D5;
}

/* UL was slightly too far from the article bottom */
article ul {
    margin-bottom: 10px;
}

/* increase list margin to left side */
article ul li {
    margin-left: 20px;
}
