/*
<article class="smaller contact-info">
                        <!-- Display a list of contact methods in a list. -->
                        <ul>
                            <li><img src="resources/phone-icon.png" alt="Phone icon">+46 123 456 789</li>
                            <li><img src="resources/email-icon.png" alt="Mail icon">Spelkollektivet@redmail.org</li>
                        </ul>
                    </article>
                    */
/* Text should appear to the right of icon's center */

.contact-info{
    display: flex;
    justify-content: left;
    align-items: left;
}
.contact-info ul{
    list-style-type: none;
    padding: 0;
}
.contact-info ul li{
    display: flex;
    align-items: center;
    padding: 10px;
}
.contact-info ul li img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.contact-info ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
}

/* Media queries for desktop, find us page. */
@media (min-width: 768px) {
    .smaller{
      flex-basis: calc(5.00% - 10px); /* 33.33% width for each info box with margin */
    }
    .bigger{
        flex-basis: calc(50% - 10px); /* 66.66% width for each info box with margin */
    }
}