/* The header styling is split into two parts: desktop and mobile. */

/* 
Header for desktop navbar - occupy full width of page top 
*/
.header-desktop{
    background-color: #E5BE7B;
    border: 4px solid #A08A68;
    padding: 20px;
    border-radius: 10px;
}

.header-desktop .header-logo{
    width: 100px;
    height: 100px;
}
.header-desktop .header-logo:hover{
    cursor: pointer;
    outline: 4px solid #FFD800;
}

.header-desktop .header-content-flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header-desktop ul{
    list-style-type: none;
    padding-left:5%;
    width: 100%;
}

.header-desktop ul li{
    display: inline;
    margin: 7.3%;
}

.header-desktop ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    padding: 12px;
}
/* On hover.. */
.header-desktop ul li a:hover {
    color: #FFD800;
}

/* 
Header for mobile navbar 
*/
.header-mobile{
    padding: 20px;
    
    border: 4px solid #A08A68;
    border-radius: 10px;

    background-color: #E5BE7B;
}

.header-mobile .header-logo{
    width: 100px;
    height: 100px;
}

.header-mobile .header-content-block{
    display: block;
    text-align: center;
}
.header-mobile .header-content-block .header-content-flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

/* Hamburger Menu */
/* Hide hamburger menu content at first */
.mobile-menu-item{
    display: none;
}
.hamburger-menu-button{
    width: 100px;
    height: 100px;
    background-color: #E5BE7B;
    border: 4px solid #A08A68;
    font-size:xx-large;
}
.mobile-menu-item ul{
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.mobile-menu-item ul li{
    display: block;
    text-align: right;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 4px;
    border: 4px solid #A08A68;
}
.mobile-menu-item ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    padding: 12px;
}

/* Query for mobile view */
@media only screen and (max-width: 1365px) {
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: block;
    }
}

/* Query for desktop view */
@media only screen and (min-width: 1366px) {
    .header-desktop{
        display: block;
    }
    .header-mobile{
        display: none;
    }
}