/*
    - Styling guidelines & pallettes - 
    #E8E1D5 - Content background
    #000000 - Content outline
    #A08A68 - Border/Logo Outline
    #E5BE7B - Header/Footer
    #FFD800 - Accent
*/

/* Body */
body {
    background-image: url('resources/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

    /* Hide scrollbars */
    /*overflow: hidden;*/
}


/* Main content */
.content-box {
    background-color: #E8E1D5;
    border: 4px solid #A08A68;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

/*
<!-- Main Section -->
            <div class="main-content-flex">
                <div class="main-content-block independent">
                    <div class="main-content-flex">
                        <div class="main-content-block inner">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/h9L9ZS2zVPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h1>Learn from the best</h1>
                            <p>You're sharing the house with awesome game developers from all over the world. We're a big team that has each other's backs.</p>
                        </div>
                    </div>
                </div>
                <div class="main-content-block">
                    <div class="main-content-flex">
                        <div class="main-content-block inner">
                            <h1>Learn to code</h1>
                            <p>Our curriculum is designed to help you learn to code in a fun and engaging way. We offer a variety of courses that cater to all skill levels.</p>
                        </div>
                    </div>
                </div>
                <div class="main-content-block">
                    <div class="main-content-flex">
                        <div class="main-content-block inner">
                            <h1>Get started today</h1>
                            <p>Our courses are designed to be accessible to everyone. Whether you're a beginner or an experienced coder, we have something for you.</p>
                        </div>
                    </div>
                </div>
                <div class="main-content-block">
                    <div class="main-content-flex">
                        <div class="main-content-block inner">
                            <h1>Join our community</h1>
                            <p>Our community is made up of people from all walks of life who share a passion for coding. Join us and start learning today!</p>
                        </div>
                    </div>
                </div>
            </div>
*/

/* Main content */
.main-flex-container {
    display: block;
    text-align: center;
}

.main-flex{
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin: 0 auto;
    justify-content: space-between;
}

article{
    flex-grow: 1;
    margin-right: 10px; /* Add margin between info boxes */
    background-color: #E8E1D5;
    border: 4px solid #A08A68;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    text-align: center;
  }
 
article iframe{
    width: 50%;
    height: 315px;
}

  /* Media query for desktop */
@media (min-width: 768px) {
    .smaller{
      flex-basis: calc(23.33% - 10px); /* 33.33% width for each info box with margin */
    }
    .bigger{
        flex-basis: calc(46.66% - 10px); /* 66.66% width for each info box with margin */
    }
}

/* General styling */
.no-margin p{
    margin: 0;
}